<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}{{ end }}">
    <title>{{ if not .IsHome }}{{ .Title }} — {{ end }}{{ .Site.Title }}</title>
    
    {{ with .Params.image }}
    <!-- Open Graph для соцсетей только если есть картинка -->
    <meta property="og:title" content="{{ $.Title }}">
    <meta property="og:description" content="{{ $.Summary | plainify | truncate 150 }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ $.Permalink }}">
    <meta property="og:site_name" content="{{ $.Site.Title }}">
    <meta property="og:image" content="{{ . | absURL }}">
    {{ end }}
    
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    
    <!-- RSS Feed -->
    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
    {{ end -}}
        
    {{ template "_internal/google_analytics.html" . }}
</head>
<body>
    {{ partial "header.html" . }}
    
    <main class="container">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
</body>
</html>
